<h2>Senha</h2>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <!-- password -->
        <div class="form-group" ng-class="{ 'has-error' : clientForm.password.$invalid && (clientForm.password.$dirty || clientForm.$submitted) }">
            <label for="client_password">
                Escolha uma senha <span class="required" title="Esse campo é obrigatório" rel="tooltip">*</span>
            </label>
            <input type="password" class="form-control" name="password" id="client_password"
                ng-model="client.password.password"
                ng-required="true"
                ng-minlength="8"
                ng-maxlength="32">
            <div ng-messages="clientForm.password.$error" ng-show="clientForm.password.$invalid && (clientForm.password.$dirty || clientForm.$submitted)">
                <span class="help-block" ng-message="required">Informe a sua senha.</span>
                <span class="help-block" ng-message="minlength">Sua senha deve ter no mínimo 8 caracteres.</span>
                <span class="help-block" ng-message="maxlength">Sua senha deve ter no máximo 32 caracteres.</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <!-- password confirm -->
        <div class="form-group" ng-class="{ 'has-error' : clientForm.password_confirm.$invalid && (clientForm.password_confirm.$dirty || clientForm.$submitted) }">
            <label for="client_password_confirm">
                Confirme sua senha <span class="required" title="Esse campo é obrigatório" rel="tooltip">*</span>
            </label>
            <input type="password" class="form-control" name="password_confirm" id="client_password_confirm"
                ng-model="client.password.confirm"
                ng-required="true"
                validate-equals-to=""
                equals-to="client.password.password">
            <div ng-messages="clientForm.password_confirm.$error" ng-show="clientForm.password_confirm.$invalid && (clientForm.password_confirm.$dirty || clientForm.$submitted)">
                <span class="help-block" ng-message="required">Confirme a sua senha.</span>
                <span class="help-block" ng-message="equalsTo">As senhas são diferentes.</span>
            </div>
        </div>
    </div>
</div>