[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
	font-family: 'Roboto', sans-serif !important;
}

.loader {
	background-image: url('../images/hourglass.gif');
	width: 38px;
	height: 38px;
}

.panel-filtrar h4 {
	margin-top: 10px;
}

.btn-prod {
	margin-bottom: 15px;
}