<div *ngIf="listaProdutos && listaProdutos.length > 0" >
  <div class="col-xs-12">
    <h2>Resultado da pesquisa</h2>
  </div>
  <div class="col-xs-12">
    <table class="table table-responsive table-hover table-bordered table-condensed"  >
      <thead>
        <tr>
          <th>
            <span>Nome</span> 
            <span class="pull-right">
              <div><i class="glyphicon glyphicon-triangle-top" (click)="orderBy('name','asc')" ></i></div>
              <div><i class="glyphicon glyphicon-triangle-bottom" (click)="orderBy('name','desc')"></i></div>
            </span>
          </th>
          <th>
              <span>Fabricação</span>
              <span class="pull-right">
                  <div><i class="glyphicon glyphicon-triangle-top" (click)="orderBy('fabrication_date','asc')"></i></div>
                  <div><i class="glyphicon glyphicon-triangle-bottom" (click)="orderBy('fabrication_date','desc')"></i></div>
                </span>
          </th>
          <th>
              <span>Tamanho</span>
              <span class="pull-right">
                  <div><i class="glyphicon glyphicon-triangle-top" (click)="orderBy('size','asc')" ></i></div>
                  <div><i class="glyphicon glyphicon-triangle-bottom" (click)="orderBy('size','desc')"></i></div>
                </span>
          </th>
          <th>
              <span>Largura</span>
              <span class="pull-right">
                  <div><i class="glyphicon glyphicon-triangle-top" (click)="orderBy('lenght','asc')"></i></div>
                  <div><i class="glyphicon glyphicon-triangle-bottom"(click)="orderBy('lenght','desc')" ></i></div>
                </span>
          </th>
          <th>
              <span>Peso</span>
              <span class="pull-right">
                  <div><i class="glyphicon glyphicon-triangle-top" (click)="orderBy('weight','asc')" ></i></div>
                  <div><i class="glyphicon glyphicon-triangle-bottom" (click)="orderBy('weight','desc')" ></i></div>
                </span>
          </th>
          <th>
              <span>Categoria(s)</span>
              <span class="pull-right">
                  <div><i class="glyphicon glyphicon-triangle-top" (click)="orderBy('categories','asc')" ></i></div>
                  <div><i class="glyphicon glyphicon-triangle-bottom" (click)="orderBy('categories','desc')" ></i></div>
                </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of listaProdutos" >
          <td>{{ product.name }}</td>
          <td>{{ product.fabrication_date}}</td>
          <td>{{product.size}}</td>
          <td>{{product.lenght}}</td>
          <td>{{product.weight}}</td>
          <td>
            <div class="label label-default" *ngFor="let category of product.categories" >{{category.name}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="!listaProdutos || listaProdutos.length <= 0" class="text-center empty-list" >
  Nenhuma produto encontrado
</div>
