<div class="page-header">
    <h1>Página Inicial</h1>
</div>

<p>
    Esse site foi desenvolvido durante a segunda etapa do processo seletivo da empresa Mongeral Aegon.<br>
    O teste escolhido foi o "Teste 1", um sistema com cadastro de clientes, envio de e-mail após o cadastro e busca de endereço pelo CEP utilizando o serviço <a href="http://postmon.com.br/" target="_blank">PostMon API</a>.
</p>

<h2>O autor</h2>
<div class="row row-author">
    <div class="col-xs-12 col-sm-3">
        <img src="imgs/nilo.png" alt="Foto Nilo Soares" class="img-responsive">
    </div>
    <div class="col-xs-12 col-sm-9">
        <dl class="dl-horizontal">
            <dt>Nome</dt>
            <dd>Nilo Soares</dd>

            <dt>E-mail</dt>
            <dd>
                <a href="mailto:nilosoares@gmail.com">
                    nilosoares@gmail.com
                </a>
            </dd>

            <dt>Celular</dt>
            <dd>
                <a href="tel:+5521992111319">
                    +55 (21) 99211-1319
                </a>
            </dd>

            <dt>Facebook</dt>
            <dd>
                <a href="https://www.facebook.com/nilosoares" target="_blank">
                    https://www.facebook.com/nilosoares
                </a>
            </dd>

            <dt>Twitter</dt>
            <dd>
                <a href="https://twitter.com/nilosoares89" target="_blank">
                    https://twitter.com/nilosoares89
                </a>
            </dd>

            <dt>LinkedIn</dt>
            <dd>
                <a href="https://www.linkedin.com/in/nilo-soares-81984423" target="_blank">
                    https://www.linkedin.com/in/nilo-soares-81984423
                </a>
            </dd>

            <dt>Github</dt>
            <dd>
                <a href="https://github.com/nilosoares" target="_blank">
                    https://github.com/nilosoares
                </a>
            </dd>
        </dl>
    </div>
</div>
<div class="clearfix"></div>

<h2>Tecnologias utilizadas</h2>
<ul>
    <li>PHP</li>
    <li>Symfony 3.2</li>
    <li>Twig</li>
    <li>MySQL</li>
    <li>Doctrine ORM</li>
    <li>AngularJS</li>
    <li>jQuery</li>
    <li>Bootstrap 3</li>
    <li>CSS3</li>
    <li>HTML5</li>
    <li>Grunt</li>
</ul>