<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="padding: 35px 0px;">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" style="text-align: left;">
	<tr>
		<td align="center" valign="top">
			<table width="650" border="0" cellpadding="0" cellspacing="0" style="border-top: 5px solid #efefef;">
				<tbody>
					<tr>
						<td style="background: #FFF;">
							<div style="font-family: 'Arial'; text-align: left; border-left: 1px solid #eaeaea; border-right: 1px solid #eaeaea;">
								{% block body -%}{% endblock %}
							</div>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr style="background: #efefef; height: 100px;"></tr>
				</tfoot>
			</table>
		</td>
	</tr>	
</body>
</html>
