<div class="jumbotron">
  <div class="container">
      <h1 class="text-center">Controle de Produtos</h1>
  </div>
</div>
<div class="container">
  <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro</a></li>
        <li role="presentation"><a href="#consulta" aria-controls="consulta" role="tab" data-toggle="tab">Consulta</a></li>        
      </ul>
    
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="cadastro">
          <app-cadastro-produtos></app-cadastro-produtos>
        </div>
        <div role="tabpanel" class="tab-pane" id="consulta">
          <app-consulta-produtos></app-consulta-produtos>
        </div>
      </div>
    
    </div>
</div>

