<div class="animated fadeIn">
        <div class="col-sm-6" *ngIf="showErrorMessage">
            <div class="card text-white bg-danger">
              <div class="card-body">
                <div class="h4 mb-0">Error</div>
                <small class="text-muted text-uppercase font-weight-bold">{{errorMessage}}</small>
              </div>
            </div>
          </div>
          <div class="col-sm-6" *ngIf="showSuccessMessage">
              <div class="card text-white bg-success">
                <div class="card-body">
                  <div class="h4 mb-0">Success!</div>
                  <small class="text-muted text-uppercase font-weight-bold">{{successMessage}}</small>
                </div>
              </div>
            </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong>Insert</strong>
            <small>Product</small>
          </div>
          <div class="card-body">
              <div class="row">
                <div class="form-group col-sm-8">
                    <label for="company">Product name</label>
                    <input type="text" [(ngModel)]="product.productName" class="form-control" id="company" >
                </div>
                <div class="form-group col-sm-4">
                    <label for="categoryId">Category</label>
                    <select  [(ngModel)]="category"  id="categoryId" class="form-control">
                      <option *ngFor="let cat of categories" [ngValue]="cat.id" >{{cat.categoryName}}</option> 
                    </select>
                </div>
              </div>
              <div class="row">
                  <div class="form-group col-sm-8">
                      <label for="productManufacture">Product manufacture</label>
                      <input type="text" [(ngModel)]="product.productManufacture" class="form-control" id="productManufacture" placeholder="DD/MM/YYYY" >
                  </div>
                  <div class="form-group col-sm-4">
                      <label for="productSize">Product size</label>
                      <input type="text"  [(ngModel)]="product.productSize"  class="form-control" id="productSize">
                  </div>
              </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label for="productHeight">Product height</label>
                <input type="text" [(ngModel)]="product.productHeight"  class="form-control" id="productHeight" >
              </div>
              <div class="form-group col-sm-4">
                <label for="productWeight">Product weight</label>
                <input type="text" [(ngModel)]="product.productWeight"  class="form-control" id="productWeight" >
              </div>
            </div><!--/.row-->
          </div>
          <div class="card-footer">
              <button type="submit"  (click)="insertProduct($event)" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Save</button>
            </div>
        </div>
      </div><!--/.col-->  
    </div>
    