<div class="col-xs-12">
    <div>
      <h2 class="col-xs-12 color-secondary">{{title}}</h2>
    </div>
    <div  class="form"  >
      <div class="col-xs-12 col-sm-8 form-group">
        <label for="name">Nome</label>
        <input [(ngModel)]="product.name" type="text" class="form-control" name="name" required >
      </div>
      <div class="col-xs-12 col-sm-4 form-group">
        <label for="name">Data Fabricação</label>
        <input [(ngModel)]="product.fabrication_date" type="text" class="form-control datepicker" name="fabrication_date" required >
      </div>
      <div class="col-xs-12 col-sm-4 form-group">
        <label for="">Tamanho</label>
        <input [(ngModel)]="product.size" type="text" class="form-control decimal" name="size" required />
      </div>
      <div class="col-xs-12 col-sm-4 form-group">
        <label for="">Largura</label>
        <input [(ngModel)]="product.lenght" type="text" class="form-control"  name="lenght" required >
      </div>
      <div class="col-xs-12 col-sm-4 form-group" required>
        <label for="">Peso</label>
        <input [(ngModel)]="product.weight" type="text" class="form-control" name="weight" required>
      </div>
      <div class="col-xs-12 col-sm-12 form-group" >
          <label for="">Categoria</label>
          <a href="" class="pull-right" data-toggle="modal" href="#myModal" *ngIf="createCategoryEnabled" >Nova Categoria</a>
          <div class="input-group">
            <select name="" id="" class="form-control" #categorySelect>
              <option value="1">e</option>
              <option value="{{category.id}}" *ngFor="let category of categoryList"> {{category.name}}</option>
            </select>
            <span class="input-group-btn" >
              <span class="btn btn-default" (click)="addCategory(categorySelect.value)" ><span class="glyphicon glyphicon-plus"></span></span>
            </span>
          </div>
          <div>
            <div class="label label-default" *ngFor="let categoryAdded of categoryListAdded"  > {{categoryAdded.name}} | <span class="text-right">x</span></div>
          </div>  
      </div>
      <div class="col-xs-12 form-group text-right">
        <button class="btn  btn-primary" (click)="onsubmit(product)" >{{submitText}}</button>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="row">
                <app-form-category (onSubmit)="submitCategory($event)"></app-form-category>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  
  